Handling Imbalanced dataset: 
For example == Dataset -> 1000 data in which 
900 - Yes and 100 - No then this is Imbalanced Data => TO HANDLE THIS WE USE 
1. Up Sampling => Increase Number from No
2. Down sampling =>
Decrease Number from Yes

In [53]:
import numpy as np

In [54]:
import pandas as pd

In [55]:
np.random.seed(123)
## Create a data frame
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(sample * class_0_ratio)
n_class_1 = sample - n_class_0

In [56]:
n_class_0, n_class_1

(900, 100)

In [57]:
## Create Dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [58]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [59]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [80]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [61]:
## Up Sampling
df_minority = df[df['target']==1] 
df_majority = df[df['target'] ==0]

In [ ]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority),random_state=42 )

In [63]:
df_minority_upsampled.shape

(900, 3)

In [68]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [69]:
# Down Sampling
np.random.seed(123)
## Create a data frame
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(sample * class_0_ratio)
n_class_1 = sample - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [70]:
# Down sampling
df_minority = df[df['target']==1] 
df_majority = df[df['target'] ==0]

In [71]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace=False, n_samples=len(df_minority),random_state=42 )

In [72]:
df_majority_downsampled.shape

(100, 3)

In [74]:
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

In [78]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64